<%= @gallery["id"] %><br>
<%= @gallery["name"] %><br>
<%= @gallery["description"] %><br>
<%= @gallery["address"] %><br>
<%= @gallery["opening_hour"] %>
<%= @gallery["closing_hour"] %>

<br><br>
<a href="/galleries">
      Back </a>
